<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{current_rubric.name}} - Список книг</title>
</head>
<body>
	<h1>Книги</h1>
	<h2>Рубрика: {{current_rubric.name}}</h2>
	<div>
		<a href="/arkadiy39/books/">Главная</a>
		{%for rubric in rubrics%}
			<a href="/arkadiy39/books/{{rubric.pk}}">{{rubric.name}}</a>
		{%endfor%}
	</div>
	{%for book in books%}
		<div>
			<h2>{{book.author}}</h2>
			<p>{{book.title}}</p>
			<p>{{book.pubdate}}</p>
		</div>
	{%endfor%}
</body>
</html>